.card {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
     background: linear-gradient(to bottom, rgba(100,77,157,0.9), rgba(150,137,177,0.9));
  }
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  }
  .card-title {
    font-weight: bold;
    color: white;
  }
  .card:nth-child(1) {
    background-color: rgba(100,77,157,0.9);
  }
  .card:nth-child(2) {
    background-color: #28a745;
  }
  .card:nth-child(3) {
    background-color: #17a2b8;
  }
  .card:nth-child(4) {
    background-color: #dc3545;
  }
  .card-text {
    color: white;
  }
   hr {
    border: none; /* 기본 border 제거 */
    height: 2px; /* 선의 높이 설정 */
    overflow: hidden; /* 동그란 점이 높이를 넘어가지 않게 하기 위해 */
    background-image: radial-gradient(circle, #FFF 50%, transparent 50%); /* 동그란 점 생성, 색상을 #FFF로 변경 */
    background-size: 8px 8px; /* 점의 크기 및 간격 설정 */
    background-position: 0 2px; /* 점의 위치 설정 */
    background-repeat: repeat-x; /* 가로 방향으로 반복 */
  }